@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: #f4f1fa;
}

/* For login form */

.container {
  width: 100%;
  padding: 80px 60px 0px 60px;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-area h3 {
  float: right;
  margin: 30px;
  font-size: xx-large;
  color: purple;
}
.heading-area img {
  float: left;
  margin: 10px;
}

.login-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 80px;
}

.login-container h3 {
  font-size: 60px;
  color: purple;
}
.login-container h4 {
  font-size: 30px;
  font-weight: unset;
  color: #b48ab4;
}

.login-form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 50%;
  border-radius: 10px;
  height: 350px;
  border: 1px solid purple;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input {
  font-family: "Poppins";
  width: 80%;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.form-input {
  padding: 10px;
  margin: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #609e60;
}

.heading {
  position: absolute;
  top: 20%;
  left: 0px;
  text-align: center;
  width: 100%;
  color: purple;
}

.button-forgotpassword {
  width: 80%;
}

.btn {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  background: purple;
  outline: none;
  color: white;
  float: right;
}
a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

small {
  color: purple;
}

/* For Dashboard */
.dashboard {
  border: 5px solid rgb(23, 158, 21);
  border-radius: 10px;
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
}

.folder-area {
  margin: 10px;
  height: 44.5vh;
  border-radius: 20px;
}

img {
  height: 75px;
}

.dashboard-title {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  font-size: 10px;
  padding: 10px;
}

.dashboard-title h1 {
  margin-left: 10px;
}

.operations-area {
  border: 2px solid rgb(23, 158, 21);
  margin: 10px;
  height: 44.5vh;
  border-radius: 20px;
}

.folders-list {
  border: 2px solid rgb(23, 158, 21);
  width: 40%;
  height: 80%;
  margin: 20px;
  border-radius: 20px;
}

.folders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-edit {
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  align-self: center;
  background: none;
  outline: none;
  border: 2px solid lightskyblue;
  font-family: "Open Sans", sans-serif;
}

/* for popup form */

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popup-form {
  border: 2px solid rgb(23, 158, 21);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.sources-area {
  display: flex;

  width: 100%;
  padding: 10px;
  align-items: center;
}

.popup-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  margin: 10px;
}

.file-item-column {
  outline: none;
  width: 100%;
}

.file-operation {
  padding: 10px;
  border-radius: 15px;
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.file-item-column option {
  padding: 10px;
}

.file-operation option {
  padding: 50px;
}

.final-form input {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
}

.final-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.final-form {
  border: 2px solid rgb(23, 158, 21);
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
}

.final-input {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 30px;
}

.btn-final {
  padding: 10px;
  border-radius: 15px;
  text-align: center;

  background: none;
  outline: none;
  border: 2px solid green;
  font-family: "Open Sans", sans-serif;
}

.final-label {
  display: flex;
  flex-direction: column;
}

.final-file-operation {
  padding: 10px;
  border-radius: 15px;
  outline: none;

  margin: 5px 5px 0px 5px;
}
