@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background: #f4f1fa;
}

/* For login form */

.container {
  width: 100%;
  padding: 80px 60px 0px 60px;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-area h3 {
  float: right;

  font-size: xx-large;
  color: purple;
}
.heading-area img {
  float: left;
}

.login-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 80px;
}

.login-container h3 {
  font-size: 60px;
  color: purple;
}
.login-container h4 {
  font-size: 30px;
  font-weight: unset;
  color: #b48ab4;
}

.login-form {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  width: 50%;
  border-radius: 10px;
  height: 350px;
  border: 1px solid purple;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input {
  font-family: "Poppins";
  width: 80%;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}

.form-input {
  padding: 10px;
  margin: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #609e60;
}

.heading {
  position: absolute;
  top: 20%;
  left: 0px;
  text-align: center;
  width: 100%;
  color: purple;
}

.button-forgotpassword {
  width: 80%;
}

.btn {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  background: purple;
  outline: none;
  color: white;
  float: right;
}
a {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}

small {
  color: purple;
}

/* For Dashboard */
.dashboard {
  width: 100%;
  max-width: 1300px;
  margin-top: 20px;
}

.folder-area {
  margin: 10px;
  height: 40vh;
  border-radius: 10px;
}

img {
  height: 75px;
}

.dashboard-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-title {
  display: flex;
  align-items: center;
}
.dashboard-title h1 {
  font-size: xx-large;
  color: purple;
  margin-left: 15px;
}
.profile-logout {
  display: flex;
  margin-right: 30px;
  align-items: center;
}
.profile-logout h2 {
  color: #b48ab4;
}

.logout {
  fill: purple;
  outline: none;
  width: 30px;
  margin-left: 10px;
}
.dashboard-label {
  font-size: 20px;
  font-weight: bold;
  color: #b48ab4;
  margin: 30px 0px 0px 30px;
}

.dashboard-logo {
  margin-left: 30px;
  width: 50px;
}

.operations-area {
  border: 1px solid rgb(23, 158, 21);
  margin: 0px 30px;
  min-height: 30vh;
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  background: white;
}

.folders-list {
  border: 1px solid rgb(23, 158, 21);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  width: 40%;
  background: white;
  height: 80%;
  margin: 20px;
  border-radius: 20px;
}

.folders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-edit {
  margin: 5px;
  padding: 15px;
  border-radius: 25px;
  text-align: center;
  align-self: center;
  background: none;
  outline: none;
  border: 2px solid lightskyblue;
  font-family: "Open Sans", sans-serif;
}

/* for popup form */

.popup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 1300px;
}

.popup-form {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}
.popup-heading {
  color: purple;
}

.sources-area label {
  font-size: x-large;
  color: #b48ab4;
}

.sources-area label {
  font-size: x-large;
  color: #b48ab4;
}
.sources-area {
  display: flex;

  width: 100%;
  padding: 10px;
  align-items: center;
}

.popup-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  margin: 10px;
}

.file-item-column {
  border: 1px solid purple;
  outline: none;
  width: 100%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  background: white;
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.file-operation {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  background: purple;
  color: white;
  font-family: "Poppins", sans-serif;
}

.submit-buttons a {
  color: white;
  font-weight: unset;
  padding: 10px;
}
::-webkit-scrollbar {
  width: 3px;
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
  margin: 10px 0px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.file-item-column option {
  padding: 10px;
}

.file-operation option {
  padding: 50px;
}

.final-form input {
  padding: 10px;
  margin: 5px 5px 0px 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid gray;
  font-family: "Poppins", sans-serif;
}

.final-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  align-items: center;
}

.final-form {
  border: 1px solid purple;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.final-input {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 30px;
  width: 50%;
  color: #b48ab4;
}

.btn-final {
  padding: 7px 12px 7px;
  border-radius: 10px;
  background: purple;
  outline: none;
  font-family: "Poppins", sans-serif;
}

.btn-final a {
  color: white;
  font-weight: unset;
  font-size: small;
}
.final-label {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.final-file-operation {
  padding: 10px;
  border-radius: 15px;
  outline: none;
  font-family: "Poppins", sans-serif;

  margin: 5px 5px 0px 5px;
}

@media only screen and (max-width: 600px) {
  /* for login */
  .container {
    padding-top: 50px;
  }
  .login-container {
    flex-direction: column;
    padding-top: 30px;
  }
  .login-container h3 {
    font-size: 30px;
  }
  .login-container h4 {
    font-size: 20px;
    font-weight: unset;
  }

  .login-form {
    margin-top: 50px;
    width: 100%;
  }
  img {
    height: 50px;
  }
  .heading-area h3 {
    font-size: 17px;
    margin: 0px;
  }

  /* for dashboard */

  .dashboard-title h1 {
    display: none;
  }

  .profile-logout {
    margin-right: 15px;
  }
  .profile-logout h2 {
    font-size: larger;
  }
  .logout {
    width: 20px;
  }
  .dashboard-label {
    font-size: 12px;
    font-weight: 900;
    margin: 10px 0px 0px 30px;
  }
  .folder-area {
    height: 50vh;
  }
  .operations-area {
    min-height: 10vh;
  }
  .folders {
    flex-direction: column;
  }
  .folders-list {
    width: 80%;
    height: 100%;
    margin: 10px;
  }

  /* for popup */
  .popup-form {
    width: 80%;
    height: 90%;
  }
  .popup-heading {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: x-large;
  }
  .popup-input {
    width: 80%;
  }
  .sources-area {
    flex-direction: column;
    width: 100%;
  }
  .sources-area label {
    font-size: revert;
  }
  .final-form {
    width: 80%;
  }
  .final-input {
    margin: 15px;
    width: 92%;
  }
}
